@import "./static/styles/modal.css";
@import "./static/styles/search.css";
@import "./static/styles/navbar.css";
@import "./static/styles/footer.css";
@import "./static/styles/homepage.css";
@import "./static/styles/form.css";
@import "./static/styles/about.css";
@import "./static/styles/event.css";
@import "./static/styles/icons.css";

:root {
  --main-color: rgb(98 34 93);
  --second-color: rgb(98 34 93);
  --hover-color: rgb(172, 125, 168);
  --icons-color: snow;
  --main-font-color: rgb(192, 24, 178);
}

/* General */

body {
  background-color: snow;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Bootstrap overrides */

.rounded {
  border-radius: 0.75rem !important;
}
