.home-page-gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.home-event-wrapper {
  position: relative;
  margin: 0.5rem;
  cursor: pointer;
}

.home-event-wrapper > a > img {
  transition: transform 0.5s;
  box-shadow: 2px 2px 10px #304135;
}

.home-event-wrapper > a > img:hover {
  transform: scale(1.1);
}

.home-event-wrapper > a > span {
  position: absolute;
  top: 2rem;
  left: 0.3rem;
  text-align: center;
  transform: rotate(-35deg);
  color: white;
  text-shadow: 2px 2px 4px #d835f6f0;
}
